{% load static %}
<!DOCTYPE html>
<html style="font-size: 16px;">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>About Us</title>
    <link rel="stylesheet" href="{% static 'myapp/assets/css/aboutus.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'myapp/assets/css/main.css' %}" media="screen">
    <script class="u-script" type="text/javascript" src="{% static 'myapp/assets/js/jquery-1.9.1.min.js' %}"
            defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'myapp/assets/js/nicepage.js' %}" defer=""></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link id="u-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="{% static 'myapp/assets/css/aboutus_plus.css' %}" media="screen">

    <style>
        header {
            background-color: #002f82 !important;
        }

        .section-background {
            background-color: #002f81 !important;
        }
    </style>
</head>

</html>
<header>
    <nav>
        <img class="logo" src="{% static 'myapp/img/logo_vlu.png' %}"/>
        <ul style="align-content: center; margin-top: 2em">
            <li><a href="home.html">Home</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Account</a></li>
        </ul>
        <div class="login">
            <a href="login.html">
                <button class="btn btn-outline-success mr-3"
                        style="border-radius: 10px; padding: 5px 20px; color: #fff; border: 1px solid #9cebdf;">Sign In
                </button>
            </a>
            <a href="login.html">
                <button class="btn btn-danger"
                        style="border-radius: 10px; padding: 5px 20px; box-shadow: none; background-color: #9cc1eb; border: none; color: red;">
                    Sign Up
                </button>
            </a>
        </div>
    </nav>
</header>
<html>

<body class="u-body">
<section class="u-clearfix u-section-2 section-background" id="sec-6194">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-border-7 u-border-palette-2-base u-shape u-shape-rectangle u-shape-1"></div>
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-image u-layout-cell u-left-cell u-size-30 u-image-1">
                        <div class="u-container-layout"></div>
                    </div>
                    <div class="u-container-style u-layout-cell u-palette-1-base u-right-cell u-size-30 u-layout-cell-2">
                        <div class="u-container-layout">
                            <div class="u-align-center-xs u-align-right-lg u-align-right-md u-align-right-sm u-align-right-xl u-container-style u-group u-group-1">
                                <div class="u-container-layout u-valign-middle-md u-valign-middle-sm u-container-layout-3">
                                    <h1 class="u-text u-text-body-alt-color u-title u-text-1"
                                        style="letter-spacing: 9px;">Final Project
                                    </h1>
                                    <p class="u-large-text u-text u-text-body-alt-color u-text-variant u-text-2"
                                       style="text-transform: uppercase; letter-spacing: 3px;">Dự án làm về covid
                                        2019</p>
                                    <a href="#" data-aos="fade-right"
                                       class="u-border-radius-50 u-btn u-btn-round u-button-style u-palette-2-base u-text-palette-1-base u-btn-1">Read
                                        More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="//images01.nicepage.com/c461c07a441a5d220e8feb1a/8d31c222bfdb53a4898fef31/m0.png" alt=""
             class="u-image u-image-default u-image-2">
        <img src="//images01.nicepage.com/c461c07a441a5d220e8feb1a/7e42bdd098a55304965f27d3/m2.png" alt=""
             class="u-image u-image-default u-image-3">
    </div>
</section>
<section>
<br><br><br>
<h2 style="text-align: center;margin-top: 0; margin-bottom: 20px;">We are team VLU
</h2>
<section style="max-width: 700px; margin: 0 auto 0;">
    <div style="margin: 10px 20px ; padding: 0;">
        <p style="text-align: justify;">This web is known as an application for sharing IT knowledge.
            Is an internship project applying machine learning model to analyze the covid-19 epidemic in provinces in
            Vietnam.
        </p>
        <br>
    </div>
</section>
</section>
<section style="background-color: rgb(245, 245, 245);">
    <br>
    <h3 style="text-align: center;">Leader</h3><br>
    <div class="grid wide container">
        <div class="row">
            <div style="width: 37.5%;"></div>
            <div class="col l-3">
                <div class="course-item">
                    <img src="{% static 'myapp/img/img/toan.jpg' %}" width=100%/>
                    <p style="text-align: left; margin: 10px 0; font-weight: bold;font-size: 18px;">Toan Tran</p>
                    <hr size="1" width="10%" color="gray" style="margin: 0 0"/>
                    <p style="text-align:left; margin: 10px 0">He is a VLU Student</p>
                </div>
            </div>
        </div>
        <h3 style="text-align: center;">Member</h3><br>
        <div class="row">
            <div class="col l-3">
                <div class="course-item">
                    <img src="{% static 'myapp/img/img/cong.jpg' %}" width=100%/ alt="">
                    <p style="text-align: left; margin: 10px 0; font-weight: bold;font-size: 18px;">Cong Nguyen</p>
                    <hr size="1" width="10%" color="gray" style="margin: 0 0"/>
                    <p style="text-align:left; margin: 10px 0">He is a VLU Student</p>
                </div>
            </div>
            <div class="col l-3">
                <div class="course-item">
                    <img src="{% static 'myapp/img/img/duc.jpg' %}" width=100%/>
                    <p style="text-align: left; margin: 10px 0; font-weight: bold;font-size: 18px;">Duc Do</p>
                    <hr size="1" width="10%" color="gray" style="margin: 0 0"/>
                    <p style="text-align:left; margin: 10px 0">He is a VLU Student</p>
                </div>
            </div>
            <div class="col l-3">
                <div class="course-item">
                    <img src="{% static 'myapp/img/img/viet.jpg' %}" width=100%/>
                    <p style="text-align: left; margin: 10px 0; font-weight: bold;font-size: 18px;">Viet Pham</p>
                    <hr size="1" width="10%" color="gray" style="margin: 0 0"/>
                    <p style="text-align:left; margin: 10px 0">He is a VLU Student</p>
                </div>
            </div>
            <div class="col l-3">
                <div class="course-item">
                    <img src="{% static 'myapp\img\img\tien.jpg' %}" width=100%/>
                    <p style="text-align: left; margin: 10px 0; font-weight: bold;font-size: 18px;">Tien Nguyen</p>
                    <hr size="1" width="10%" color="gray" style="margin: 0 0"/>
                    <p style="text-align:left; margin: 10px 0">He is a VLU Student</p>
                </div>
            </div>
        </div>
        <div><br></div>
        <div class="row">
            <div class="col l-3">
                <div class="course-item">
                    <img src="{% static 'myapp/img/img/thong.jpg' %}" width=100%/>
                    <p style="text-align: left; margin: 10px 0; font-weight: bold;font-size: 18px;">Thong Nguyen</p>
                    <hr size="1" width="10%" color="gray" style="margin: 0 0"/>
                    <p style="text-align:left; margin: 10px 0">He is a VLU Student</p>
                </div>
            </div>
            <div class="col l-3">
                <div class="course-item">
                    <img src="{% static 'myapp/img/img/anh.jpg' %}" width=100%/>
                    <p style="text-align: left; margin: 10px 0; font-weight: bold;font-size: 18px;">Anh Nguyen</p>
                    <hr size="1" width="10%" color="gray" style="margin: 0 0"/>
                    <p style="text-align:left; margin: 10px 0">He is a VLU Student</p>
                </div>
            </div>
            <div class="col l-3">
                <div class="course-item">
                    <img src="{% static 'myapp/img/img/lap.jpg' %}" width=100%/>
                    <p style="text-align: left; margin: 10px 0; font-weight: bold;font-size: 18px;">Lap Nguyen</p>
                    <hr size="1" width="10%" color="gray" style="margin: 0 0"/>
                    <p style="text-align:left; margin: 10px 0">He is a VLU Student</p>
                </div>
            </div>
            <div class="col l-3">
                <div class="course-item">
                    <img src="{% static 'myapp/img/img/binh.jpg' %}" width=100%/>
                    <p style="text-align: left; margin: 10px 0; font-weight: bold;font-size: 18px;">Binh Nguyen</p>
                    <hr size="1" width="10%" color="gray" style="margin: 0 0"/>
                    <p style="text-align:left; margin: 10px 0">He is a VLU Student</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <br>
</section>
<section class="u-clearfix u-section-3" id="carousel_c135">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-50 u-layout-spacing-vertical u-layout-wrap u-layout-wrap-1">
            <div class="u-gutter-0 u-layout">
                <div class="u-layout-row">
                    <div class="u-size-30 u-size-60-md" data-aos="fade-up">
                        <div class="u-layout-col">
                            <div class="u-container-style u-layout-cell u-left-cell u-size-20 u-layout-cell-1">
                                <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-container-layout-1">
                                    <div class="u-border-2 u-border-grey-15 u-line u-line-vertical u-line-1"></div>
                                    <h2 class="u-text u-text-1">Project purpose</h2>
                                    <p class="u-text u-text-2" style="text-align: justify;">Applying a machine learning
                                        model to predict the number of covid-19 infections in provinces and cities in
                                        Vietnam. From there, analyze the model of epidemic prevention policies or
                                        strategies in Vietnam.
                                        The pros and cons of those policies. Then visualize
                                    </p>
                                </div>
                            </div>
                            <div class="u-container-style u-hidden-md u-hidden-sm u-hidden-xs u-layout-cell u-left-cell u-size-40 u-layout-cell-2">
                                <div class="u-container-layout"></div>
                            </div>
                        </div>
                    </div>
                    <div class="u-size-30 u-size-60-md" data-aos="fade-up">
                        <div class="u-layout-row">
                            <div class="u-container-style u-layout-cell u-right-cell u-size-60 u-layout-cell-3">
                                <div class="u-container-layout">
                                    <img src="//images01.nicepage.com/c461c07a441a5d220e8feb1a/2b64d0717227510ca78c7efd/circles.png"
                                         alt="" class="u-image u-image-contain u-image-default u-image-1">
                                    <img class="u-image u-image-2" src="{% static 'myapp/img/img/illustration.png' %}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-section-4" id="carousel_b7ee" data-aos="fade-up">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-50 u-layout-spacing-vertical u-layout-wrap u-layout-wrap-1">
            <div class="u-gutter-0 u-layout">
                <div class="u-layout-row">
                    <div class="u-size-30 u-size-60-md">
                        <div class="u-layout-row">
                            <div class="u-container-style u-layout-cell u-right-cell u-size-60 u-layout-cell-1">
                                <div class="u-container-layout">
                                    <img src="//images01.nicepage.com/c461c07a441a5d220e8feb1a/34cd3dec9ea15bdfa9a8a7fa/Untitled6.png"
                                         alt="" class="u-image u-image-contain u-image-default u-image-1">
                                    <img class="u-image u-image-2" src="{% static 'myapp/img/img/covid.jpg' %}"
                                         style="width: 100%;">
                                    <img src="//images01.nicepage.com/c461c07a441a5d220e8feb1a/fddda699a6d15a2381d1febe/corner.png"
                                         alt="" class="u-image u-image-contain u-image-default u-image-3">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-size-30 u-size-60-md" data-aos="fade-right">
                        <div class="u-layout-col">
                            <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-20 u-layout-cell-2">
                                <div class="u-container-layout u-container-layout-2">
                                    <h2 class="u-text u-text-1">Main technique</h2>
                                    <div class="u-border-2 u-border-palette-1-base u-line u-line-horizontal u-line-1"></div>
                                    <ul class="u-text u-text-2">
                                        <li>Machine Learning</li>
                                        <li>Deep Learning</li>

                                    </ul>
                                </div>
                            </div>
                            <div class="u-container-style u-hidden-md u-hidden-sm u-hidden-xs u-layout-cell u-left-cell u-size-40 u-layout-cell-3">
                                <div class="u-container-layout"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
</section>
<section style="background: rgb(245, 245, 245);" data-aos="fade-up">
    <br>
    <h2 style="text-align: center; color: rgb(39, 39, 39);">Timeline</h2>
    <div class="wrapper">
        <div class="row row-1" data-aos="fade-right">
            <section>
                <i class="icon fas fa-star"></i>
                <div class="details">
                    <span class="title">Get the project</span>
                    <span>25-09-2021</span>
                </div>
                <p>Lorem ipsum dolor sit ameters consectetur adipisicing elit. Sed qui veroes praesentium maiores, sint
                    eos vero sapiente voluptas debitis dicta dolore.</p>
                <div class="bottom">
                </div>
            </section>
        </div>
        <div class="row row-2" data-aos="fade-left">
            <section>
                <i class="icon fas fa-star"></i>
                <div class="details">
                    <span class="title">Demo project on local</span>
                    <span>30-11-2021</span>
                </div>
                <p>Lorem ipsum dolor sit ameters consectetur adipisicing elit. Sed qui veroes praesentium maiores, sint
                    eos vero sapiente voluptas debitis dicta dolore.</p>
                <div class="bottom">
                </div>
            </section>
        </div>
        <div class="row row-1" data-aos="fade-right">
            <section>
                <i class="icon fas fa-star"></i>
                <div class="details">
                    <span class="title">Upload the project to the server</span>
                    <span>1-12-2021</span>
                </div>
                <p>Lorem ipsum dolor sit ameters consectetur adipisicing elit. Sed qui veroes praesentium maiores, sint
                    eos vero sapiente voluptas debitis dicta dolore.</p>
                <div class="bottom">
                </div>
            </section>
        </div>
        <div class="row row-2" data-aos="fade-left">
            <section>
                <i class="icon fas fa-star"></i>
                <div class="details">
                    <span class="title">Complete the project</span>
                    <span>10-12-2021</span>
                </div>
                <p>Lorem ipsum dolor sit ameters consectetur adipisicing elit. Sed qui veroes praesentium maiores, sint
                    eos vero sapiente voluptas debitis dicta dolore.</p>
                <div class="bottom">
                </div>
            </section>
        </div>
        <div class="row row-1" data-aos="fade-right">
            <section>
                <i class="icon fas fa-star"></i>
                <div class="details">
                    <span class="title">Report of the Faculty of IT</span>
                    <span>15-12-2021</span>
                </div>
                <p>Lorem ipsum dolor sit ameters consectetur adipisicing elit. Sed qui veroes praesentium maiores, sint
                    eos vero sapiente voluptas debitis dicta dolore.</p>
                <div class="bottom">
                </div>
            </section>
        </div>
        <div class="row row-2" data-aos="fade-left">
            <section>
                <i class="icon fas fa-star"></i>
                <div class="details">
                    <span class="title">Publishing in international magazines </span>
                    <span>20-02-2022</span>
                </div>
                <p>Lorem ipsum dolor sit ameters consectetur adipisicing elit. Sed qui veroes praesentium maiores, sint
                    eos vero sapiente voluptas debitis dicta dolore.</p>
                <div class="bottom">
                </div>
            </section>
        </div>
    </div>
    <br>
</section>
<footer class="footer" style="text-align: center;">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>VLU team</h4>
                <ul>
                    <li><a href="#">our services</a></li>
                    <li><a href="#">privacy policy</a></li>
                    <li><a href="#">affiliate program</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>about us</h4>
                <ul>
                    <li><a href="#">information</a></li>
                    <li><a href="#">detail project</a></li>
                    <li><a href="#">bla bla</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>dataset</h4>
                <ul>
                    <li><a href="#">chart</a></li>
                    <li><a href="#">post</a></li>
                    <li><a href="#">data</a></li>
                    <li><a href="#">somethings</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="copy">Copyright © 2021 - Moclaw. All Rights Reserved.</div>
    </div>

</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</body>


<script>
    AOS.init();
    var Swipes = new Swiper('.swiper-container', {
        spaceBetween: 0,
        loop: true,
        speed: 2000,
        autoplay: {
            delay: 5000,
            disableOnInteraction: false,
        },
        cssMode: true,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        pagination: {
            el: '.swiper-pagination',
        },
    });
</script>

</html>