<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forget password</title>
    <link rel="stylesheet" href="../assets/css/modal.css">
</head>
<body>
<div class="wrapper">
    <div class="title-text">
        Forget password
    </div>
    <div class="form-container">
        <div class="form-inner">
            <form action="#" class="login">
                <div class="field">
                    <input type="email" name="slide" id="email" placeholder="Input Your Email">
                </div>
                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>