{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vlu Student PCAP_A</title>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'myapp/assets/favicon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/assets/css/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        header {
            background-image: url("{% static 'myapp/img/background-header.png' %}");
        }
    </style>
</head>

<body>
<header>
    <nav>
        <img class="logo" src="{% static 'myapp/img/logo_vlu.png' %}">
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="aboutus.html">About Us</a></li>
            <li><a href="#">Account</a></li>
        </ul>
        <div class="login">
            <a href="{% url 'myapp:login' %}"><button class="btn btn-success">Sign In
            </button></a>
            <a href="{% url 'myapp:login' %}"><button class="btn btn-danger">Sign Up</button></a>
        </div>
    </nav>
    </div>
    <img class="point" src="{% static 'myapp/img/background-header.png' %}">
    <img class="brain" src="{% static 'myapp/img/brain.png' %}">
    <div class="background-header">
        <div class="text-header">
            <h3>Machine Learning</h3>
            <h1>Predict the
                <br>Epidemic Situation</br>
            </h1>
            <button style="color: black">Read Mode</button>
        </div>
    </div>

</header>
<div style="text-align: center; position: relative; top: 70em">
    <h5 style="font-size: 20px; color: #1b9bff">Experiments</h5>
    <h3 style="font-size: 60px; color: #002f81">Intro production project</h3>
    <p>Refers to the simulation of human intelligence in machines that are programmed to think like humans and mimic their actions.</p>
</div>


<footer class="footer" style="text-align: center;margin-top: 200em">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>VLU team</h4>
                <ul>
                    <li><a href="#">our services</a></li>
                    <li><a href="#">privacy policy</a></li>
                    <li><a href="#">affiliate program</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>about us</h4>
                <ul>
                    <li><a href="#">information</a></li>
                    <li><a href="#">detail project</a></li>
                    <li><a href="#">bla bla</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>dataset</h4>
                <ul>
                    <li><a href="#">chart</a></li>
                    <li><a href="#">post</a></li>
                    <li><a href="#">data</a></li>
                    <li><a href="#">somethings</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="copy">Copyright © 2021 - Moclaw. All Rights Reserved.</div>
    </div>

</footer>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>