<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset password</title>
    <link rel="stylesheet" href="../assets/css/modal.css">
</head>
<body>
<div class="wrapper">
    <div class="title-text">
        <div style="font-size: larger; font-weight: bolder">
            Reset password
        </div>
    </div>
    <div class="form-container">
        <div class="form-inner">
            <form action="#" class="login">
                <label>Moclaw@gmail.com</label>
                <div class="field">
                    <input minlength="6" type="password" placeholder="Password" required>
                </div>
                <div class="field">
                    <input minlength="6" type="password" placeholder="Confirm password" required>
                </div>
                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>