* {
    padding: 0;
    margin: 0;
    list-style: none;
}

header {
    background-image: url("/img/background-header.png");
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    height: 80px;
    width: 100%;
}

.logo {
    width: 20vh;
    margin-left: 5em;
    margin-top: 4px;
}

nav ul {
    float: none;
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav ul li {
    display: inline-block;
    line-height: 40vh;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    text-transform: uppercase;
}

a:hover {
    background: #1b9bff;
    transition: .5s;
    border-radius: 5px;
}

.login {
    float: right;
    margin: 1.3em 2em 0 2em;
}

.checkbtn {
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.point {
    position: absolute;
    width: 100%;
}

.brain {
    position: absolute;
    left: 90vh;
    width: 40%;
}

.text-header {
    margin: 15em 0em 0 15em;
    position: absolute;
}

.text-header button {
    border-radius: 10vh;
    height: 8vh;
    width: 30%;
    color: white;
    margin-top: 2em;
    background-color: aqua;
}

.text-header h3 {
    color: rgba(137, 175, 234, 0.8);
    font-size: 24px;
}

.text-header h1 {
    color: #fff;
    font-size: 8vh;
}

.copy {
    justify-content: center;
    color: white;
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover, a.active {
        background: none;
        color: #0082e6;
    }

    #check:checked ~ ul {
        left: 0;
    }

    .text-header {
        margin: auto;
        font-size: 10px;
        position: absolute;
    }
}

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: rgb(0, 49, 129);
    padding: 70px 0;
    bottom: 0px;
    width: 100%;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

